<ul class="usernav">
  <li>
    <a [routerLink]="['../informations']">{{ ANNOUNCEMENT.informations }}</a>
  </li>
  <li>
    <a [routerLink]="['../requests']">{{ ANNOUNCEMENT.currentRequests }}</a>
  </li>
  <li>
    <a [routerLink]="['../reservations']">{{
      ANNOUNCEMENT.currentReservations
    }}</a>
  </li>
  <li>
    <a [routerLink]="['../toys']">{{ ANNOUNCEMENT.myAnnouncements }}</a>
  </li>
  <li>
    <a [routerLink]="['../post-toys']">{{ ANNOUNCEMENT.postAnnouncement }}</a>
  </li>
</ul>
