<ul class="nav">
  <img class="nav-logo" src="" alt="logo" />
  <li>
    <a [routerLink]="['/home']">{{TEXT.home}}</a>
  </li>
  <li>
    <a [routerLink]="['/toys']">{{TEXT.toys}}</a>
  </li>
  <div *ngIf="isLoggedIn === 'true'" class="links">
    <li>
      <a [routerLink]="['/useraccount/informations']">{{TEXT.customerSpace}}</a>
    </li>
    <li>
      <a [routerLink]="['/home']" (click)="logout()">{{TEXT.home}}</a>
    </li>
  </div>
  <div *ngIf="isLoggedIn === 'false'" class="links">
    <li>
      <a [routerLink]="['/signup']">{{TEXT.register}}</a>
    </li>
    <li>
      <a [routerLink]="['/login']">{{TEXT.login}}</a>
    </li>
  </div>
</ul>
