<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="email">{{ REGISTER.mail }}</label>
        <input
          type="text"
          [(ngModel)]="user.email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
          #email="ngModel"
        />
      </div>
      <div [hidden]="!email.pristine" class="alert alert-danger">
        {{ ERRORS.mailRequired }}
      </div>

      <div class="form-group">
        <label for="password">{{ REGISTER.password }}</label>
        <input
          type="text"
          [(ngModel)]="user.password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password address"
          required
          #password="ngModel"
        />
        <div [hidden]="!password.pristine" class="alert alert-danger">
          {{ ERRORS.passwordRequired }}
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!userForm.form.valid"
        class="btn btn-info"
      >
        {{ REGISTER.submit }}
      </button>
    </form>
  </div>
</div>
