<app-usernav></app-usernav>
<p class="p" *ngIf="requests">
  {{ ANNOUNCEMENT.finalizeTrade }}
</p>
<div class="requests" *ngFor="let item of requests">
  <div class="request-card">
    <img
      class="request-img"
      [src]="item.tradedToy.picture"
      [alt]="item.tradedToy.name"
    />
    <div class="request-infos">
      <p>{{ item.tradedToy.name }}</p>
      <a [routerLink]="['../../toys', item.tradedToy.id]">{{
        ANNOUNCEMENT.link
      }}</a>
    </div>
    <div class="request-button">
      <button type="button" (click)="acceptRequest(item.id)">
        {{ ANNOUNCEMENT.validateTrade }}
      </button>
    </div>
  </div>
</div>
