.toy-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.toy-card img {
    width: 150px;
}

.body-toys {
    display: flex;
    justify-content: space-around;
    width: 70%;
}