<h1>{{ REGISTER.title }}</h1>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="firstname">{{ REGISTER.firstName }}</label>
        <input
          type="text"
          [(ngModel)]="user.firstname"
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="Enter your firstname"
          required
          #firstname="ngModel"
        />
      </div>
      <div [hidden]="!firstname.pristine" class="alert alert-danger">
        {{ ERRORS.firstnameRequired }}
      </div>

      <div class="form-group">
        <label for="lastname">{{ REGISTER.lastName }}</label>
        <input
          type="text"
          [(ngModel)]="user.lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Enter your lastname"
          required
          #lastname="ngModel"
        />
        <div [hidden]="!lastname.pristine" class="alert alert-danger">
          {{ ERRORS.lastnameRequired }}
        </div>

        <div class="form-group">
          <label for="city">{{ REGISTER.city }}</label>
          <input
            type="text"
            [(ngModel)]="user.city"
            class="form-control"
            id="city"
            name="city"
            placeholder="Enter your city address"
            required
            #city="ngModel"
          />
          <div [hidden]="!city.pristine" class="alert alert-danger">
            {{ ERRORS.cityRequired }}
          </div>
          <div class="form-group">
            <label for="email"> {{ REGISTER.mail }} </label>
            <input
              type="text"
              [(ngModel)]="user.email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email address"
              required
              #email="ngModel"
            />
            <div [hidden]="!email.pristine" class="alert alert-danger">
              {{ ERRORS.mailRequired }}
            </div>

            <div class="form-group">
              <label for="password">password</label>
              <input
                type="text"
                [(ngModel)]="user.password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password address"
                required
                #password="ngModel"
              />
              <div [hidden]="!password.pristine" class="alert alert-danger">
                {{ ERRORS.passwordRequired }}
              </div>
              <button
                type="submit"
                [disabled]="!userForm.form.valid"
                class="btn btn-info"
              >
                {{ REGISTER.submit }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
