<app-usernav></app-usernav>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #toyForm="ngForm">
      <div class="form-group">
        <label for="name">{{ ANNOUNCEMENT.title }}</label>
        <input
          type="text"
          [(ngModel)]="toy.name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Titre de votre annonce"
          required
          #name="ngModel"
        />
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">
        {{ ERRORS.lastnameRequired }}
      </div>
      <div class="form-group">
        <label for="description">{{ ANNOUNCEMENT.description }}</label>
        <input
          type="text"
          [(ngModel)]="toy.description"
          class="form-control"
          id="description"
          name="description"
          placeholder="Décrivez un peu l'objet à donner"
          required
          #description="ngModel"
        />
        <div [hidden]="!description.pristine" class="alert alert-danger">
          {{ ERRORS.descriptionRequired }}
        </div>
      </div>
      <div class="form-group">
        <label for="picture">{{ ANNOUNCEMENT.pictureLink }}</label>
        <input
          type="text"
          [(ngModel)]="toy.picture"
          class="form-control"
          id="picture"
          name="picture"
          placeholder="Enter your picture address"
          required
          #picture="ngModel"
        />
        <div [hidden]="!picture.pristine" class="alert alert-danger">
          {{ ERRORS.pictureRequired }}
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!toyForm.form.valid"
        class="btn btn-info"
      >
        {{ ANNOUNCEMENT.submit }}
      </button>
    </form>
  </div>
</div>
